name: Publish Package

on:
  push:
    tags: [v*.*.*]

jobs:
  version:
    outputs:
      npm-version: ${{ steps.version.outputs.npm-version }}
      jsr-version: ${{ steps.version.outputs.jsr-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: |
            package.json
            deno.json
          sparse-checkout-cone-mode: false

      - name: Read version
        id: version
        run: |
          NPM_VERSION=$(jq -er '"/v" + .version' package.json)
          JSR_VERSION=$(jq -er '"/v" + .version' deno.json)
          echo "npm-version=${NPM_VERSION}" >> $GITHUB_OUTPUT
          echo "jsr-version=${JSR_VERSION}" >> $GITHUB_OUTPUT

  publish-npm:
    needs: version
    if: endsWith(github.ref, needs.version.outputs.npm-version)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - run: deno install
      - run: deno run build

      - run: npm publish

  publish-jsr:
    needs: version
    if: endsWith(github.ref, needs.version.outputs.jsr-version)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # cspell:word denoland
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3

      - run: deno publish
